// Game console box styles

#console-box {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  padding: 4px;

  .message {
    padding: 4px 4px;

    font-family: monospace;

    span {
      color: $grey-light;

      &.log {
        color: $white-ter;
      }

      &.info {
        color: $turquoise;
      }

      &.warning {
        color: $orange;
      }

      &.error {
        color: $red;
      }
    }
  }
}