// Game console box styles

#console-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 4px;

  overflow: scroll;

  .c-message {
    padding: 0px 4px;

    font-family: "IBM Plex Mono";
    font-size: 13px;

    color: $grey-light;

    &.log {
      color: $white-ter;
    }

    &.info {
      color: $turquoise;
    }

    &.success {
      color: $green;
    }

    &.warning {
      color: $orange;
    }

    &.error {
      color: $red;
    }
  }
}