// Global style for the app

html {
  min-height: 100%;
}

body {
  min-height: 100%;
}

// Some resets

h1, p {
  margin: 0px;
}

code {
  padding: 3px 5px;
  border-radius: 4px;
  background-color: $black-ter;
  color: $white-ter;
}
