// Inputs style

input, select {
  padding: 0px 7px;
  height: 34px;
  border: 1px solid;
  border-radius: 6px;
  transition: 0.1s ease-in-out;

  outline: none;
  outline-color: transparent;
  outline-style: none;
  -webkit-appearance: none;

  background-color: $white-bis;

  &:focus {
    outline: none;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1) inset;
  }

  &.is-orange {
    border-color: $orange;
  }

  &.is-yellow {
    border-color: $yellow;
  }

  &.is-green {
    border-color: $green;
  }

  &.is-turquoise {
    border-color: $turquoise;
  }

  &.is-cyan {
    border-color: $cyan;
  }

  &.is-blue {
    border-color: $blue;
  }

  &.is-purple {
    border-color: $purple;
  }

  &.is-red {
    border-color: $red;
  }
}
