// Layout of the page

// Container
#app {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 80vh;
  grid-template-rows: 52px 80vh auto;
}

@media screen and (max-width: 1200px) {
  #app {
    grid-template-columns: auto 50vw;
    grid-template-rows: 52px 50vw auto;
  }
}

// Childs of the grid
#navbar {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#editor-box {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  overflow: hidden;
}

#game-box {
  background-color: $grey-light;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#console-box {
  background-color: $black-ter;
  // min-height: 160px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
