// Navigation bar style

#nav-bar {
  background-color: $white-ter;

  display: flex;
  justify-content: space-between;

  padding: 8px;

  .nav-left {
    .spacing {
      margin-right: 8px;
    }
  }

  .nav-center {
    margin: 0px 8px;
    display: flex;
    align-items: center;
  }

  .nav-right {
    .spacing {
      margin-left: 8px;
    }
  }
}
