// Global vars for the app

// Grayscale
$black: hsl(0, 0%, 4%);
$black-bis: hsl(0, 0%, 7%);
$black-ter: hsl(0, 0%, 14%);
$grey-darker: hsl(0, 0%, 21%);
$grey-dark: hsl(0, 0%, 29%);
$grey: hsl(0, 0%, 48%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);
$white-ter: hsl(0, 0%, 96%);
$white-bis: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Colors
$orange: #fa8231;
$yellow: #f7b731;
$green: #20bf6b;
$turquoise: #0fb9b1;
$cyan: #2d98da;
$blue: #3867d6;
$purple: #8854d0;
$red: #eb3b5a;
