#editor {
    min-width: 600px;
    min-height: 600px;
}

#editorControls {
    display: flex;
    justify-content: space-around;
}

.notification {
    min-width: 25%;
    min-height: 100px;
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
    cursor: pointer;
}
