body {
    background-color: #CCC;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    justify-content: space-between;
}

#game {
    display: flex;
    flex-direction: column-reverse;
}

.command {
    display: block;
}

.notification {
    min-width: 25%;
    max-width: 25%;
    min-height: 100px;
    padding: 15px;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    background-color: #ffffff;
}